#jumbotron-body {
    background-color: #F2C409
}

.employeewelcome {
    background-color: black;
    color: #fff;
}

.employeecard {
    margin-bottom: 50px;
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.atag {
    padding: 0px;
    white-space: pre-wrap;
}

