#jumbotron-body {
    background-color: #F2C409;
}

.employeewelcome {
    background-color: black;
    color: #fff;
}

.employeecard,
.itemscard,
.adjustpricecard,
.restockorsoldcard,
.searchinventorycard {
    margin-bottom: 50px;
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.atag {
    padding: 0px;
    white-space: pre-wrap;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: calc(100% + 1vw + 1vh);
}


