<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="Olivia" content="">

        <title>Latched Jamaica Inventory Management System</title>
        <script src="http://localhost:8098"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


        <link rel="stylesheet" href="../app/static/css/login.css">
    </head>
  <body  class="form" >

    <h1> Latched Jamaica </h1>

        <div class="split left">
            <h2> Login </h2>
          <div class="theleft">  
            <form>
            <div class="form-group">
                <label for="Uname"> Username </label>
                <input type="text" class="form-control" id="username" aria-describedby="userhelp" placeholder="Enter username">
                
            </div>

            <div class="form-group">
               <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control" id="InputPassword" placeholder="Enter password">
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1"> Remember Me </label>
            </div>

            <button type="submit" class="btn btn-primary"> Sign In </button>
            </form>
          </div> 
        </div>





        <div class="split right">
            <h2> Sign Up </h2>

            <div class="theright"> 

            <form>
                <div class="form-group">
                    <label for="email"> Email </label>
                    <input type="text" class="form-control" id="username"  placeholder="Enter email" required>
                    
                              
                    <label for="passd">Password</label>
                    <input type="password" class="form-control" id="passd" placeholder="Enter password" required>
                
                                
                    <label for="pswrd"> Confirm Password</label>
                    <input type="password" class="form-control" id="pswrd" placeholder="Confirm password" required>
                

                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="echeck">
                    <label class="form-check-label" for="Check"> Remember Me </label>
                </div>
    
                <button type="submit" class="btn btn-primary"> Sign up </button>
                </form>
            </div>
        </div>












  
    








    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/app/static/js/app.js"></script>
  </body>
</html>